# Terraformのローカル状態ファイル
terraform.tfstate
terraform.tfstate.backup

# パーソナルなTerraform設定ファイル
.terraformrc
terraform.rc

# ロックファイル
*.lock.hcl

# 破棄されたプランファイル
crash.log

# プランアウトプット
*.tfplan

# モジュールディレクトリ
.terraform/modules/

# プラグインディレクトリ
.terraform/providers/

# 忘れがちなファイル
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraformディレクトリ全体を除外する
.terraform/

# 忘れがちな構成ファイル
*.auto.tfvars
*.auto.tfvars.json

# Terraform変数ファイル（特にパーソナル情報が含まれている場合）
*.tfvars.json
*.tfvars

# .DS_Storeなどの一般的なMacOSのファイル
.DS_Store

# Wordpressの設定
# WordPress core files
wordpress_data/wp-admin/
wordpress_data/wp-includes/

# Configuration files
wordpress_data/wp-config.php
wordpress_data/.htaccess
wordpress_data/.htpasswd

# WordPress specific files
wordpress_data/index.php
wordpress_data/license.txt
wordpress_data/readme.html
wordpress_data/wp-*.php
wordpress_data/xmlrpc.php

# Ignore all wp-content except my themes
wordpress_data/wp-content/*
!wordpress_data/wp-content/themes
wordpress_data/wp-content/themes/*
!wordpress_data/wp-content/themes/next-myblog

# DBデータ
db_data/*
!db_data/.gitkeep

# 環境変数ファイル
.env
